// VARIABLES

//BACKGROUND COLORS

$black-background: #000;
$black2-background: #030e10;
$black-article: #161616a0;
$background-hero: #171c21;
$white-background: whitesmoke;

//BTN COLORS 

$white-btn: #fff;
$black-btn: #000;

// HOVER COLORS

$hover-color:#b7b7ce;
$white-hover: whitesmoke;
$grey-hover: rgb(174, 173, 173);
$grey-hover2: rgb(113, 112, 112);

// TITLE COLORS

$title-white: whitesmoke;

// TEXT COLORS  
$white: whitesmoke;
$text-color: black;
$text-global: black;


// FONTS 

$robotocond: 'Roboto Condensed';
$cairo: "Cairo";
$codepro: "Source Code Pro";

// FONT SIZE

$title-size-main: 5.5rem;
$title-size1: 1rem;
$title-size1-5: 1.5rem;
$title-size2: 2rem;
$title-size2-5: 2.5rem;
$title-size3: 3rem;
$title-size3-5: 3.5rem;
$title-size4: 4rem;
$title-size4-5: 4.5rem;
$title-size5: 5rem;
$title-size6: 5.7rem;

$psize1: 1rem;

//letter spacing

$letterspacing1: 0.1rem;
$letterspacing2: 0.3rem;
$letterspacing1: 0.5rem;
$letterspacing1: 0.8rem;

// VARIABLES SEMANTICAS

$color-principal: #f3f3;
$medida-principal: 250px;

// BOX MODEL SPACING
$padding1: 1rem;
$padding2: 2rem;
$padding3: 3rem;

// BORDES

$borderthick: 1px;
$border-radius: 1.2rem;
$border3: 2rem;